.login-container {
    width: 100%;
    max-width: 400px;
    margin: 150px auto;
    padding: 40px;
    background: rgb(247, 251, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 35px;
    font-weight: bold;
  }
  .login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-icon {
    font-size: 80px; 
    color: #ccc;
    margin-bottom: -25px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    background: #f8f8f8;
  }
  
  .input-container input {
    border: none;
    outline: none;
    flex: 1;
    padding: 6px;
    font-size: 16px;
    background: none;
  }
  
  /* Icons inside input fields */
  .input-icon {
    margin-right: 10px;
    color: gray;
    font-size: 18px;
  }
  

  .password-toggle {
    cursor: pointer;
    font-size: 18px;
    color: gray;
  }
  

  button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #0f6cbf, #90e0ee);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 10px;
  }
  
  button:hover {
    background: linear-gradient(to right, #0e5ea6, #7475ce);
  }
  

  .error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  /* Register link */
  p {
    margin-top: 15px;
    font-size: 14px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  